/*Shorthand: propiedad que agrupa otras propiedades*/


.color{
	height: 300px;
	background:pink;
}

.image{
	height: 300px;
	background-image:url(../img/nina.jpeg);
}

.repeat{
	height: 300px;
	background-image:url(../img/huevo.jpeg);
	background-repeat: no-repeat;
	background-color: gray;	
}	
.clip{ /*que parte de la caja esta bubierta por el fondo*/
	height: 300px;
	background-image:url(../img/sopa.jpeg);
	background-clip: content-box; /*padding-box, border-box*/
	padding: 50px;
	border: 2px solid black;
	background-origin: content-box;
}	

.size{
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100%;
	/*contain: mayor tamaño sin que se escape la imagen ;*/
	/*cover : expande la imagen al alcho;
	auto: deja la imagen como esta;*/

	background-image:url(../img/welcome.jpeg);
}
.position{
	height: 300px;
	background-image: url(../img/hello.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position:center ; /* 250px 10px, center right , center top, center left*/
}
.attachment{ /*como se dibuja el fondo de acuerdo al viewport*/
	height: 300px;
	background-image: url(../img/tigre.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.multiple{
 	height:300px;
 	background-image:url(../img/letra.webp),
 	url(../img/pasto.jpeg);
 	background-size: 25%;
}

/*Super shorthand: background*/
 	/*background: image position / size repeat attachment origin clip;*/
 	